<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi bi-building"></i> ConferenSpace
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house"></i> Inicio
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/salones">
                        <i class="bi bi-door-open"></i> Salones
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/solicitantes">
                        <i class="bi bi-people"></i> Solicitantes
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/recursos">
                        <i class="bi bi-box"></i> Recursos
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/reservas">
                        <i class="bi bi-calendar-check"></i> Reservas
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/calendario">
                        <i class="bi bi-calendar-week"></i> Calendario
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>